##########################################################################
##########################################################################
##                                                                      ##
##  +++++         '++++:  @@@@@@@@@@@@@@@@@@@@   ++++++++++++++++++++   ##
##   @@@@@       ;@@@@#   @@@@@@@@@@@@@@@@@@@@   @@@@@@@@@@@@@@@@@@@@   ##
##   .@@@@@     ,@@@@#    @@@@@@@@@@@@@@@@@@@@   @@@@@@@@@@@@@@@@@@@@   ##
##    :@@@@@   .@@@@@     @@@@@@@@@@@@@@@@@@@@   @@@@@@@@@@@@@@@@@@@@   ##
##     '@@@@@  @@@@@      @@@@@@@@@@@@@@@@@@@@   @@@@############@@@@   ##
##      #@@@@+@@@@@                              @@@@            @@@@   ##
##       #@@@@@@@@                               @@@@            @@@@   ##
##        @@@@@@@                                @@@@            @@@@   ##
##        .@@@@@#         @@@@@@@@@@@@@@@@@@@@   @@@@            @@@@   ##
##        @@@@@@@         @@@@@@@@@@@@@@@@@@@@   @@@@            @@@@   ##
##       @@@@@@@@@        @@@@@@@@@@@@@@@@@@@@   @@@@            @@@@   ##
##      @@@@@ #@@@@.      @@@@@@@@@@@@@@@@@@@@   @@@@            @@@@   ##
##     @@@@@   @@@@@      @@@@@@@@@@@@@@@@@@@@   @@@@############@@@@   ##
##    @@@@@     @@@@@     @@@@                   @@@@@@@@@@@@@@@@@@@@   ##
##   @@@@@,      @@@@@    @@@@                   @@@@@@@@@@@@@@@@@@@@   ##
##  +@@@@'        @@@@@   @@@@                   @@@@@@@@@@@@@@@@@@@@   ##
##                                                                      ##
##########################################################################
##########################################################################

##  xf0 Config File |  For more information, please check  | Â© 2018, Veit
##                  |  https://github.com/gxf0/lazy_backup | <mail@xf0.de>


[basic]

backup_file = "backup.tar.bz2"

[sql]

sql_user = "root"
sql_pw = "***"

# define the number of dbs....
db_count="2"

# db1: example1
dbname_1 = "example1"
dbuser_1 = "example1"
userpass_1 = "****"

# db2: example2
dbname_2 = "example2"
dbuser_2 = "example2"
userpass_2 = "****"

# db3: example3
dbname_3 = "example3"
dbuser_3 = "example3"
userpass_3 = "****"

[end]
